body {
 /* background:url('http://wallpaperscraft.com/image/london_ride_river_house_dock_9656_3840x2400.jpg?orig=3');*/
  margin:0px;
  font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.login {
  margin:0 auto;
  max-width:500px;
}
.login-header {
  color:#f9f9f9;
  text-align:center;
  font-size:150%;
}
.login-header h1 {
   text-shadow: 0px 5px 15px #000;
}
.login-form {
  border:2px solid #999;
  background:#171717;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}
.login-form h3 {
  text-align:left;
  margin-left:40px;
  color:#fff;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
  margin:50px auto;
  text-align:center;
  overflow: hidden;
}
.login input[type="text"],
.login input[type="password"] {
  width: 100%;
  max-width:400px;
  height:30px;
  font-family: 'Ubuntu', sans-serif;
  margin:10px 0;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.btn-login {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #adadad));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #adadad 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #adadad 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #adadad 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #adadad 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #adadad 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#adadad',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:22px;
  padding:8px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.btn-login:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #adadad), color-stop(1, #f9f9f9));
  background:-moz-linear-gradient(top, #adadad 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #adadad 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #adadad 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #adadad 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #adadad 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#adadad', endColorstr='#f9f9f9',GradientType=0);
  background-color:#adadad;
}
.btn-login:active {
  position:relative;
  top:1px;
}
.sign-up{
  color:#f2f2f2;
  margin-left:-400px;
  cursor:pointer;
  text-decoration:underline;
}
.no-access {
  color:#E86850;
  margin:20px 0px 20px -300px;
  text-decoration:underline;
  cursor:pointer;
}
.try-again {
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
}

/*Media Querie*/
@media screen and (max-width:720px) {
  .login-form h3 {
    text-align:center;
    margin:0;
  }
  .sign-up, .no-access {
    margin:10px 0;
  }
  .login-button {
    margin-bottom:10px;
  }
  .login {
    margin:0 auto;
    max-width:280px;
  }
  .login input[type="text"],
  .login input[type="password"] {
    width: 100%;
    max-width:230px;
  }
  .login-header {
    font-size:100%;
  }
  .login-header h1 {
    text-shadow: 0px 5px 15px #000;
    margin:20px 20px 20px 20px;
  }
  .btn-login {
    font-size:18px;
    padding:5px 20px;
  }
}
